@model OlxAd.Models.Users

@{
    ViewBag.Title = "Login";
}

<body class="backgroundlogin">
    <div id="container">
        <h2>Login</h2>
        @using (Html.BeginForm("Login", "Registration", FormMethod.Post))
        {

            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "inputclass" })
            <br />

            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new { @class = "inputclass" })

            <br />
            <input type="submit" value="Login" />
            <br />


            if (ViewBag.isVisible == 1)
            {

                @Html.Label("Incorrect User Name OR Password")

            }
            <br />
            @Html.ActionLink("Not a Member? Register Now", "Register")

        }
    </div>
</body>