<!DOCTYPE html>
<html>
<head>
    
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        @RenderSection("Styles", false)
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="olxApp">
    <h1>AvevaMart</h1>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
